body {
    font-family: Arial, sans-serif;
}

.login-box {
    margin: 100px auto;
    width: 300px;
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
}

    .login-box h2 {
        text-align: center;
    }

    .login-box input[type="text"],
    .login-box input[type="password"] {
        width: 100%;
        margin: 10px 0;
        padding: 8px;
        font-family: Arial, sans-serif;
    }

.btn-login {
    background: #3399FF;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
